html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(192, 183, 183);
}

.chatbox {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fefefe;
    min-height: 100%;
    box-sizing: border-box;
    padding: 30px;
}
.chatbox h2 {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #263d39;
    border-bottom: 5px solid #263d39;
}
.chatbox input {
  
    width: calc(100% - 110px);
}
.chatbox button {
    
    width: 100px;
}

.message {
    color: #4a5a57;
    border-bottom: 1px solid #efefef;
    padding: 10px;
    box-sizing: border-box;

}
.message:first-of-type {

    border-top: 1px solid #efefef;
}